@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
  scroll-behavior: smooth;
}

body {
  background-color: #F6F8F5;
  color: #1f2937;
}

.dark body {
  background-color: #111827;
  color: #f3f4f6;
}
