---
import BaseLayout from "../../layouts/BaseLayout.astro";
import DestinationCard from "../../components/DestinationCard.astro";
import { destinos } from "../../data/destinos";
---

<BaseLayout>

<section class="max-w-7xl mx-auto px-6 py-20">
  <h1 class="text-4xl font-bold mb-10">
    Destinos Turísticos del Ecuador
  </h1>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-8">
    {destinos.map((d) => (
      <DestinationCard
        title={d.title}
        image={d.hero}
        slug={d.slug}
      />
    ))}
  </div>
</section>

</BaseLayout>
